:root {
  --basic-eaxtra-dark-blue: #293449;
  --basic-dark-blue: #32425C;
  --basic-light-gary: #F1F5F7;
  --basic-eaxtra-light-gary: #F3F7F9;
  --basic-beige: #F9F5F0;
  --basic-white: #ffffff;
  --basic_white: #ffffff;
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-ylellow: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --basic-light-green: #8ED78F;
  --basic-orange: #FFD180;
  --basic-gray: #A9A9A9;
  --basic-pink-beige: #F7F3EC;
  
  --special-grey:  #C5C5C5;
  --special-red: #CA2C37;
  --special-dark-red: #BA2732;
  --special-dark-blue: #293449;
}

.page-body {
  min-width: 960px;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

/*Стили хэдэра */
.logo-style-header {
  width: 220px;
  height: 47;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-style-header:active {
  background-color:var(--special-dark-red);
}

.booking {
  background-color: var(--basic-green);
}

.booking:active {
  background-color: var(--basic-green);
  filter: brightness(50%);
}

.serch {
  background: var(--basic-eaxtra-dark-blue);
}

.serch input: hover{
  background-color: var(--basic-white);
}

.phone-style {
  border: 3px;
  border-color: var(--basic-white);
  border-style: solid;
  width: 270px;
  height: 45px;
  text-align: center;
}

.button-login {
  font: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  background-color: var(--basic-white);
  border: none;
}

.button-registration {
  font: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  background-color: var(--basic-white);
  border: none;
}

.button-registration:hover, .button-login:hover {
  color: var(--basic-red);
}

.button-registration:active, .button-login:active {
  color: var(--special-grey);
}

.main-header {
  background-color: var(--basic-light-gary);
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-dark-blue);
  display: grid;
}

.main-header-up {
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-eaxtra-dark-blue);
  display: grid;
  grid-auto-columns: min-content 1fr;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-up-bar {
  background-color: var(--basic-eaxtra-dark-blue);
  margin-bottom: 40px;
}

.main-header-up a, .site-navigation a, .category a, .main-footer a {
  color: var(--basic-white);
}

.site-navigation li:hover {
  background-color: var(--special-dark-blue);
}

.site-navigation li:active {
  background-color: var(#1D2739);
  filter: brightness(50%);
  box-shadow: inset 0px -5px 0px var(--special-dark-blue);
}

.footer-category a, .footer-contacts a {
  color: var(--basic-orange);
}

.main-header-text {
  font-size: 16px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header-phone {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  font-weight: 700;
}

.main-header-addres {
  font-size: 14px;
}

.button-cart {
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  x: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
}

.false-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}
.false-button:hover {
  background-color: var(--special-red);
}

.false-button:active {
  background-color: var(--special-dark-red);
}

.site-navigation {
  background-color: var(--basic-dark-blue);
  font-size: 18px;
  list-style: none;
  text-align: center;
  /*margin-bottom: 40px;*/
  margin: 0 0 40px 0;
  padding: 0;
}

.site-navigation li {
  box-shadow: inset 0px -5px 0px var(--special-dark-blue);
}

.button-acc {
  justify-self: end;
  max-width: 300px;
  outline: 5px solid red;
}

/*Стили основной части */
.category h3{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  font-weight: 700;
}
.category {
  max-width: 300px;
}

.category p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  font-weight: 400;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.category-text-area  {
  /*background-color: rgba(var(--basic-white), 0.3);*/
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: normal;
  width: 135px;
  height: 38px;
}

.category-text-area:hover {
  background-color: rgba(197, 197, 197, 0.3);
  mix-blend-mode: normal;
}

.category-text-area:active {
  background-color: rgba(169, 169, 169, 0.3);
  mix-blend-mode: normal;
}

.category-material, .category-delivery {
  background-color: var(--basic-ylellow);
}

.category-tools {
  background-color: var(--basic-pink);
}

.category-technics {
  background-color: var(--basic-blue);
}

.category-sale {
  background-color: var(--basic-light-green);
}

.slider-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 700;
}

.slider-description {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--basic-white);
}

.title-background {
  background-color: var(--basic-beige);
}

.position-right {
  text-align: right;
}

.product-description {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
  list-style: none;
}
.product-description a {
  font-weight:bold;
  color: var(--basic-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-gray);
  text-decoration: line-through;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
}

.pop-produse-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pop-produse-style-img:active {
  filter: brightness(50%);
}

.pop-produse-style-img :hover {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.tittle-style {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-dark-blue);
  text-transform: uppercase;
}

.text-balck {
  color: var(--basic-black);
}

.list-delyvery ul {
  list-style-image:url("img/dash.png");
}

.service {
  background-color: var(--basic-light-gary);
}

.service ul,.main-footer ul, .main-footer-down ul {
  list-style: none;
}

.servic-option {
/*класс для тени */
}

.service-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.service-item li:hover {
  color: var(--basic-white);
  background-color: var(--basic-eaxtra-dark-blue);
}

.service-item li:active {
  color: var(--basic-dark-blue);
  background-color: var(--basic-white);
}

/* стили футера   */
.logo-style-footer {
  width: 220px;
  height: 68px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-eaxtra-light-gary);
  background: var(--basic-dark-blue);
}

.main-footer-down {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: var(--basic-eaxtra-dark-blue);
}

.main-footer li:hover, .footer-contacts a:hover {
  text-decoration: underline;
}

.main-footer li:active {
  filter: brightness(50%);
  text-decoration:none;
}

.footer-contacts a:active {
  color: var(--special-red);
  text-decoration:none;
  
}
.content-contacts {
  justify-self: end;
}
.footer-social {
  justify-self: center;
}

.footer-contacts {

  justify-self: end;
  outline: 5px solid red;
}


/*Стиль попапа */
.popup-feedback {
  width: 620px;
  height: 430px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-whute);
}

.popup-feedback input, textarea {
  font: inherit;
  border: 2px solid #C5C5C5;
  border-radius: 2px;
} 

.button-feedback {
  font: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  background-color: var(--basic-red);
  border: none;
  width: 460px;
  height: 38px;
}

.button-zone {
  background-color: var(--basic-light-gary);
}



/* стили каталога */
.breadcrumbs {
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a{
  color: var(--basic-black);
}

.tittle-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-dark-blue);
  text-transform: uppercase;
  background-color: var(--basic-light-gary);
}

.catalog-about {
  background-color: var(--basic-light-gary);
  font-family: "PT Sans Narrow", Arial, sans-serif;;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.catalog-about h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-style {
  background-color: var(--basic-pink-beige) ;
 font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
}

.sort-style {
  background-color: var(--basic-pink-beige) ;
 font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  list-style: none;
  font-style: up;
  text-transform: uppercase;
}

.sort-style ul {
  list-style: none;
}

.sort-style-element a:hover {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.sort-style-element a:active {
  color: var(--basic-black);
}

.sort-style-element a {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-red);
}

.sort-style-current a {
  color: var(--basic-red);
  border-bottom: none;
  opacity: 1;
}

.filter {
  border: none;
}

.filter li {
  list-style: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.filter legend {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.filter input {
  background-color: var(--basic-pink-beige);
  border: none;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
} 

.filter-button {
  font: inherit;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

.filter-checkbox {}
.filter-option {}
.filter-radio {}

.border-bottom {
  border-bottom: 1px solid #E5E5E5;
}

.pagination-item a {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination-list {
  list-style: none;
}

.pagination-item-current a, .pagination-item a:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--special-grey);
  border-radius: 2px;
}
.hidden-element {
  display: none;
}

.pagination-item-current a:active, .pagination-item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
  border-radius: 2px;
}
.good-block {
  margin: 0;
  padding: 0;
}

.good-block li {
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

/*гриды*/

.page {
  height: 100%;
}

.center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px; 
}

.index-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

.index-columns-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.good-block .index-columns-4 {
  gap: 20px;
}

.index-columns-3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.index-rows-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 0;
  padding: 0;

}

